body
	// background url('../img/background.jpg')
	margin 0
	padding 0

h1
	margin 0

p
	margin 0

ul
	margin 0
	padding 0
	li
		list-style none

#container
	background-color grey-bkg
	padding 1em
	position relative


/* ==== HEADER ====================== */

#top-content
	margin 2em 0 1.2em 0
	div
		display inline-block
	div:nth-child(2)
		color green-light
		float right
		text-align center

.facebook
	position absolute
	top 0
	right 1em

.logo
	color grey
	img
		display inline-block
		vertical-align bottom
	p
		display inline-block
		margin-bottom .5em
		vertical-align bottom
		text-align center
		span
			display block

/* ==== NAV ====================== */

nav
	background-color green-nav
	padding .5em
	border-radius .5em
	ul
		li
			display inline-block
			text-align center
			width (100% / 6)