body
	margin 0 auto
	max-width 1280px
	min-width 320px
	padding 0
	&:not(.centro-entrenamiento)
		background-image url('../img/background.jpg')
		background-repeat no-repeat
		//background-attachment fixed
		background-position center center
		background-size 240% auto

a
	text-decoration none

h1, h2, h3, h4, h5, h6
	margin 0

p
	margin 0

ul
	margin 0
	padding 0
	li
		list-style none

#container
	background-color grey-bkg
	padding 1em
	position relative


/* ==== HEADER ====================== */

#top-content
	margin 2em 0 1.2em 0
	.next-button
		display none
	div
		display inline-block
		&:nth-child(2)
			float right
			text-align center
			a
				color green-light
				+below(450px)
					display block
					position relative
			+below(450px)
				text-align left
				width 100%
				.next-button
					animation next-button-anim 1s infinite
					display inline
					float right
					margin-right .1em
				p
					display inline-block
					line-height 1em
					vertical-align baseline
			+below(450px)
				float none
		+below(600px)
			width 50%
		+below(450px)
			&:nth-child(1)
				display none
	h1
		color orange
	img
		//Fix img inline
		vertical-align middle
		+below(600px)
			max-width 293px
			width 100%
	+below(450px)
		margin 0
		padding .2em 0

.facebook
	position absolute
	top 0
	right 1em
	+below(450px)
		display none

.logo
	color grey
	img
		display inline-block
		vertical-align bottom
		+below(600px)
			width 130px
		+below(450px)
			width 100px
	+below(450px)
		text-align center
	p
		display inline-block
		margin-bottom .5em
		vertical-align bottom
		text-align center
		span
			display block


/* ==== NAV ====================== */

nav
	background-color green-light
	border-radius .5em
	margin-top 1em
	padding .3em
	text-align center
	.burguer
		border 1px solid grey
		border-radius 3px
		color grey
		display none
		padding .4em .5em
		cursor pointer
		&:hover
			.burguer-icon
				color green-light
			.close-icon
				color grey
		.close-icon
			color green-light
			display none
		.burguer-icon
			display inline-block
		.burguer-icon, .close-icon
			vertical-align bottom
		span
			display inline-block
			margin 0 0 -2px 10px
			vertical-align bottom
		+below(830px)
			display inline-block
	ul
		text-align center
		li
			display inline-block
			margin 0 4.5%
			text-align center
			position relative
			//Fix line-height
			margin-top .5em
			+below(1140px)
				margin .5em 4% 0 4%
			+below(1010px)
				margin .5em 3% 0 3%
			+below(830px)
				border-bottom 1px dotted rgba(0,0,0,.2)
				display block
				margin 1em 4em
				text-shadow 1px 1px 0px rgba(0,0,0,1)
			a
				color white
			//Submenu
			ul
				display none
				position absolute
				left 0
				top 100%
				+below(830px)
					position relative
				li
					display block
					margin 0
					text-align left
					width 150%
					z-index 999
					+below(830px)
						background-color transparent !important
						border none
						display block
						width auto
					i
						color green-light
						display none !important
						margin-right 2px
						+below(830px)
							display inline-block !important
					a
						display block
						//Fix line-height with margin-top grater than margin-bottom
						padding 5% 5% 2% 5%
						+below(830px)
							padding 2% 0 1% 0
							text-align center
					&:nth-child(1)
						background-color green-nav-1
					&:nth-child(2)
						background-color green-nav-2
					&:nth-child(3)
						background-color green-nav-3
					&:nth-child(4)
						background-color green-nav-4
			&:hover
				ul
					+above(831px)
						display block
		+below(830px)
			display none
	&.open
		.burguer
			.burguer-icon
				display none
			.close-icon
				display inline-block
	+below(830px)
		background-color transparent


/* ==== FOOTER ====================== */

#about
	margin-top 4em
	text-align center
	p > span
		border-top 1px solid black
		padding-top .5em
	+below(640px)
		span > span
			display block
		.dash
			display none

.recommendations
	background-color green-light-bkg
	margin-top 2em
	padding 1em
	div
		display inline-block
		vertical-align middle
	#logo2
		text-align right
		width 16%
		img
			height auto
			max-width 130px
			//Fix img inline
			vertical-align middle
			width 100%
		+below(830px)
			width 20%
		+below(500px)
			display block
			margin-top 1.5em
			text-align center
			width 100%
	#messages
		color white
		text-align center
		width 68%
		p
			line-height 1em
		+below(830px)
			width 80%
		+below(500px)
			display block
			width 100%
	#news
		text-align left
		width 16%
		div
			background-color white
			border-radius .7em
			color green-light
			text-align center
			padding .5em
			width 100px
			span
				display block
				&:nth-child(2)
					//Fix line-height
					margin-top -1.2em
		+below(830px)
			display none
	+below(830px)
		background-image url('../img/two-quotes-left.png'), url('../img/two-quotes-right.png')
		background-repeat no-repeat, no-repeat 
		background-position 1% 40%, 75% 40%
	+below(500px)
		background-position 1% 5%, 99% 5%
		background-size 10%, 10%
	+below(376px)
		background-position 1% 10%, 99% 10%

.slider
	background-color green-light
	color green-dark
	margin-top .8em
	padding 5% 0
	text-align center
	div, ul
		display inline-block
		position relative
		vertical-align middle
	img
		max-width 99px
		//Fix img inline
		vertical-align middle
		width 100%
	.left-arrow, .right-arrow
		text-align right
		width 15%
	.right-arrow
		transform rotate(180deg)
	.slides
		margin 0 .4em
		max-width 560px
		width 60%
		li
			position absolute
			text-align center
			transform translateY(-50%) !important
			width 100%
			&.hideable
				display none
			&.active
				display block
			&.whitestyle
				color white
			p
				line-height .8em


/* ==== CONTENT ====================== */

.content
	background-color rgba(245, 245, 246, .8)
	margin-top 1.5em
	padding 2em


/* ==== ESCUELA ====================== */

.school
	column-count 2
	column-gap 2em
	.two-col
		display block
		vertical-align middle
		-webkit-break-inside avoid
		page-break-inside avoid
		break-inside avoid
		.logo
			margin-bottom 1em
			span
				color green-dark
				display block
				text-align center
		.name
			display block
		.portrait
			border-radius 50%
			& + p
				margin-top 1em
				span:nth-child(1)
					display block
					margin-bottom .5em
		.teacher-quote
			display none
			margin 0 auto
			margin-bottom 2.5em
			width 80%
			img, p
				display inline-block
				vertical-align middle
				+below(700px)
					display block
			img
				margin-right 4%
				max-width 293px
				width 30%
				+below(700px)
					margin 0 auto
					width 60%
			p
				border-top 1px solid green-light
				border-bottom 1px solid green-light
				box-sizing border-box
				margin 0
				padding 1em 0
				width 66%
				+below(700px)
					margin 1em auto 0 auto
					width 100%
			+below(910px)
				display block
			+below(700px)
				text-align center
				width 90%
		&:nth-child(2)
			text-align center
			+below(910px)
				display none
	+below(910px)
		column-count 1


/* ==== CAPACITACIONES ====================== */

.training
	box-sizing border-box
	display block
	padding 0
	position relative
	.page
		box-sizing border-box
		padding 2em 3em
		position absolute
		visibility hidden
		&.active
			position relative
			visibility visible
		&.pageone
			i
				margin-right .2em
	.blue-link
		color blue-link
	.copy
		color grey
		margin -.4em 0 .8em 0
	.title, .subtitle
		color green-dark
	.subtitle
		margin 1em 0 .5em 0
	.prev-button, .next-button
		position absolute
		top 50%
		transform translateY(-50%)
		z-index 2
		a
			color grey
			display block
	.prev-button
		animation prev-button-anim 1s infinite
		display none
		left 7px
	.next-button
		animation next-button-anim 1s infinite
		right 7px

.ppg
	.container
		position relative
		// overflow hidden
	& .pagetwo
		p
			&:nth-child(1)
				color grey
			&:nth-child(2)
				margin-top 1em
				span
					display block
			&:nth-child(3)
				margin-top .5em
				text-align center
				img
					//Fix img inline
					vertical-align middle
					width 50%
					max-width 497px
					&:nth-child(2)
						margin-left -3em
						+below(800px)
							margin -2em auto 0 auto
						+below(500px)
							margin-top -1em
					+below(800px)
						display block
						margin 0 auto
						width 70%
					+below(500px)
						width 100%
	& .pagethree
		div
			display inline-block
			width 70%
			+below(900px)
				width 100%
		h3
			margin-bottom 1em
		img
			max-width 324px
		img.center
			display none
			+below(900px)
				display block
				margin 1em auto
				width 100%
		img.lateral
			bottom 0
			position absolute
			right 3em
			width 25%
			+below(900px)
				display none
	& .pagefour
		div:nth-child(2)
			display inline-block
			width 60%
			+below(900px)
				width 100%
		div:nth-child(4)
			margin-top 3em
			h3
				width 50%
				+below(900px)
					width 100%
		h3
			margin-bottom 1em
		img
			max-width 520px
		img.center
			display none
			+below(900px)
				display block
				margin 1em auto
				width 100%
		img.lateral
			position absolute
			right 3em
			top 0
			width 50%
			+below(900px)
				display none

.kstretch
	.pageone
		a, p:not(.intro), ul
			width 60%
		img
			bottom 2em
			position absolute
			right 3em


@keyframes next-button-anim
	{0%}
		transform translate(2px, 0)
	{50%}
		transform translate(-2px, 0)
	{100%}
		transform translate(2px, 0)

@keyframes prev-button-anim
	{0%}
		transform translate(-2px, 0)
	{50%}
		transform translate(2px, 0)
	{100%}
		transform translate(-2px, 0)


/* ==== EVENTOS ====================== */

.events
	h2
		color green-dark
		text-transform: lowercase
		&:first-letter
			text-transform uppercase
		span
			color grey
			text-transform capitalize
	h3
		color grey
		margin-bottom 1em
		text-transform uppercase
	img
		max-width 325px
		width 100%


/* ==== GALERIA ====================== */

.gallery
	text-align center
	ul
		column-count 4
		column-gap 0
		+below(984px)
			column-count 3
		+below(688px)
			column-count 2
		+below(392px)
			column-count 1
	li
		overflow hidden
		position relative
		figure
			margin 0
			left 100%
			margin-left -200%
			position relative
			a
				display block
				img
					transition all .2s ease-in-out
					max-width 310px
					width 296px
					//Fix img inline
					vertical-align middle
					//Fix blink behavior on hover
					transform translateZ(0)
					transform translate3d(0,0,0)
				&:after
					background #FFF
					bottom 0
					content ''
					left 0
					opacity 0
					position absolute
					right 0
					top 0
					transition all .3s ease-in-out
					z-index 1
		&:hover
			// img
			// 	// transform scale(1.1)
			// 	width 100%
			a:after
				opacity .7
	.single
		height 198px
	.double
		height 396px


/* ==== CONTACTO ====================== */

.contact
	form
		width 50%
		+below(700px)
			width 100%
		label, input:not([type=submit]), textarea
			display block
		input:not([type=submit]), textarea
			background-color transparent
			border 1px solid grey-bkg
			border-radius 4px
			box-shadow 1px 0px 1px rgba(0,0,0,.5)
			color green-dark
			margin .3em 0 1.5em 0
			outline none
			padding .5em
			width 100%
		input[type=submit]
			background green-dark
			border-radius 3px
			border 0
			box-shadow inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 2px 0px green-light-bkg, inset 0 -1px 0 rgba(255, 255, 255, 0.15), 0 5px 5px 1px rgba(0, 0, 0, 0.5)
			-moz-box-shadow inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 2px 0px green-light-bkg, inset 0 -1px 0 rgba(255, 255, 255, 0.15), 0 5px 5px 1px rgba(0, 0, 0, 0.5)
			-ms-box-shadow inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 2px 0px green-light-bkg, inset 0 -1px 0 rgba(255, 255, 255, 0.15), 0 5px 5px 1px rgba(0, 0, 0, 0.5)
			-o-box-shadow inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 2px 0px green-light-bkg, inset 0 -1px 0 rgba(255, 255, 255, 0.15), 0 5px 5px 1px rgba(0, 0, 0, 0.5)
			-webkit-box-shadow inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 2px 0px green-light-bkg, inset 0 -1px 0 rgba(255, 255, 255, 0.15), 0 5px 5px 1px rgba(0, 0, 0, 0.5)
			color #FFF
			cursor pointer
			font-size 1em
			margin-top .5em
			padding .8em 1.2em
			text-shadow 0 1px 4px #000
			transition background 0.3s ease
			-moz-transition background 0.3s ease
			-ms-transition background 0.3s ease
			-o-transition background 0.3s ease
			-webkit-transition background 0.3s ease
		label
			line-height 1em
		p
			border none
			margin 0
			text-align center
	p
		border-bottom 1px solid green-light
		margin-bottom 2em


/* ==== CENTRO DE ENTRENAMIENTO ====================== */

.centro-entrenamiento
	#about
		background-color green-light-center
		margin-top 1.5em
		padding 3em 0
		p
			color white
		span
			border none
	.bottom-content
		color white
		margin-top 2em
		text-align center
		p:nth-child(1)
			background-color orange
			line-height .8em
			padding-top .3em
		p:nth-child(2)
			span
				display inline-block
				line-height 1.5em
				padding-top .3em
				&:nth-child(1)
					background-color green-dark-center
					width 35%
				&:nth-child(2)
					background-color green-light-center
					width 65%
	.center-green-img
		border-bottom 8px solid orange
	img
		vertical-align middle
		width 100%