/* ===== Domine Stylesheet ========================================================================================== */
/*

Project:    Johana Domine
Version:    1.0
Author:     Luciano Muñoz :)
Author URL: http://luciano.im


-----------------------------------
     TABLE OF CONTENTS
-----------------------------------
01 - Variables
02 - Mixins, Functions, Animations, Placeholders, Helpers
03 - Fontface, font styles, font sizes, font weights
04 - Layout
05 - Mediaquerys

*/
@font-face {
  font-family: 'Garamond';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/GaramondPremrPro-It.eot?#iefix") format('embedded-opentype'), url("../fonts/GaramondPremrPro-It.otf") format('opentype'), url("../fonts/GaramondPremrPro-It.woff") format('woff'), url("../fonts/GaramondPremrPro-It.ttf") format('truetype'), url("../fonts/GaramondPremrPro-It.svg#GaramondPremrPro-It") format('svg');
}
@font-face {
  font-family: 'HelveticaLtStd';
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/HelveticaLTStd-Bold.eot?#iefix") format('embedded-opentype'), url("../fonts/HelveticaLTStd-Bold.otf") format('opentype'), url("../fonts/HelveticaLTStd-Bold.woff") format('woff'), url("../fonts/HelveticaLTStd-Bold.ttf") format('truetype'), url("../fonts/HelveticaLTStd-Bold.svg#HelveticaLTStd-Bold") format('svg');
}
nav {
  font-family: 'HelveticaLtStd';
  font-weight: bold;
}
#top-content p {
  font-family: 'Garamond';
}
.logo p {
  font-family: 'Garamond';
}
body {
  margin: 0;
  padding: 0;
}
