/* ===== Domine Stylesheet ==========================================================================================

Project:    Johana Domine
Version:    1.0
Author:     Luciano Muñoz :)
Author URL: http://luciano.im


-----------------------------------
     TABLE OF CONTENTS
-----------------------------------
01 - Variables
02 - Mixins, Functions, Animations, Placeholders, Helpers
03 - Fontface, font styles, font sizes, font weights
04 - Layout
05 - Mediaquerys

*/
@font-face {
  font-family: 'Garamond';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/GaramondPremrPro-It.eot?#iefix") format('embedded-opentype'), url("../fonts/GaramondPremrPro-It.otf") format('opentype'), url("../fonts/GaramondPremrPro-It.woff") format('woff'), url("../fonts/GaramondPremrPro-It.ttf") format('truetype'), url("../fonts/GaramondPremrPro-It.svg#GaramondPremrPro-It") format('svg');
}
@font-face {
  font-family: 'HelveticaLtStd';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/HelveticaLTStd-Light.eot?#iefix") format('embedded-opentype'), url("../fonts/HelveticaLTStd-Light.otf") format('opentype'), url("../fonts/HelveticaLTStd-Light.woff") format('woff'), url("../fonts/HelveticaLTStd-Light.ttf") format('truetype'), url("../fonts/HelveticaLTStd-Light.svg#HelveticaLTStd-Light") format('svg');
}
@font-face {
  font-family: 'HelveticaLtStd';
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/HelveticaLTStd-Bold.eot?#iefix") format('embedded-opentype'), url("../fonts/HelveticaLTStd-Bold.otf") format('opentype'), url("../fonts/HelveticaLTStd-Bold.woff") format('woff'), url("../fonts/HelveticaLTStd-Bold.ttf") format('truetype'), url("../fonts/HelveticaLTStd-Bold.svg#HelveticaLTStd-Bold") format('svg');
}
@font-face {
  font-family: 'Calibri';
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/Calibri-Italic.eot?#iefix") format('embedded-opentype'), url("../fonts/Calibri-Italic.woff") format('woff'), url("../fonts/Calibri-Italic.ttf") format('truetype'), url("../fonts/Calibri-Italic.svg#Calibri-Italic") format('svg');
}
@font-face {
  font-family: 'Calibri';
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Calibri-Bold.eot?#iefix") format('embedded-opentype'), url("../fonts/Calibri-Bold.woff") format('woff'), url("../fonts/Calibri-Bold.ttf") format('truetype'), url("../fonts/Calibri-Bold.svg#Calibri-Bold") format('svg');
}
body {
  font-family: 'HelveticaLtStd';
  font-size: 16px;
}
@media only screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }
}
@media only screen and (max-width: 450px) {
  body {
    font-size: 13px;
  }
}
nav {
  font-weight: bold;
}
nav .burguer .burguer-icon,
nav .burguer .close-icon {
  font-size: 1.5em;
}
nav .burguer span {
  font-weight: normal;
}
@media only screen and (max-width: 830px) {
  nav ul ul li {
    font-size: 0.9em;
  }
}
#about .boldie {
  font-weight: bold;
}
#top-content {
  font-family: 'Garamond';
}
#top-content .center-big {
  font-size: 2em;
  line-height: 0.5em;
}
#top-content .center-small {
  font-size: 1.6em;
}
#top-content h1 {
  font-weight: normal;
  line-height: 0px;
}
.logo {
  font-family: 'Garamond';
  font-size: 1.5em;
}
.logo span:nth-child(2) {
  font-size: 1.2em;
}
.recommendations {
  font-family: 'Calibri';
}
.recommendations div:nth-child(2) p:nth-child(1) {
  font-style: italic;
}
.recommendations div:nth-child(2) p:nth-child(2) {
  font-weight: bold;
}
.recommendations #messages {
  font-size: 2.2em;
}
@media only screen and (max-width: 700px) {
  .recommendations #messages {
    font-size: 1.8em;
  }
}
.recommendations #news {
  font-family: 'HelveticaLtStd';
  font-weight: bold;
}
.recommendations #news span:nth-child(1) {
  font-size: 5em;
}
.recommendations #news span:nth-child(2) {
  font-size: 1.3em;
}
.slider {
  font-family: 'Calibri';
  font-size: 3.5em;
}
.slider li.greenstyle p:last-child {
  font-size: 1.33em;
}
.slider li.whitestyle p {
  font-style: italic;
}
.slider li.whitestyle p:last-child {
  font-weight: bold;
}
@media only screen and (max-width: 900px) {
  .slider {
    font-size: 3em;
  }
}
@media only screen and (max-width: 760px) {
  .slider {
    font-size: 2.3em;
  }
}
@media only screen and (max-width: 510px) {
  .slider {
    font-size: 1.8em;
  }
}
@media only screen and (max-width: 450px) {
  .slider {
    font-size: 1.5em;
  }
}
.two-col .logo {
  font-size: 2.5em;
}
.two-col .name {
  font-weight: bold;
}
.two-col .portrait + p {
  font-style: italic;
}
.training .title {
  font-size: 4em;
}
.training .page .pagetwo p:nth-child(1) {
  font-style: italic;
}
.training .page .pagetwo p:nth-child(2) {
  font-weight: bold;
}
.training .page .pagefour p:nth-child(3) {
  font-style: italic;
}
.training.profesionals .title {
  font-size: 1.5em;
}
.events h2 {
  font-size: 2.2em;
}
.events h2 span {
  font-size: 0.6em;
}
.contact input,
.contact textarea {
  font-size: 1.1em;
}
.contact label {
  font-size: 1.5em;
}
@media only screen and (max-width: 1100px) {
  .centro-entrenamiento {
    font-size: 0.7em;
  }
}
@media only screen and (max-width: 770px) {
  .centro-entrenamiento {
    font-size: 0.5em;
  }
}
@media only screen and (max-width: 550px) {
  .centro-entrenamiento {
    font-size: 0.25em;
  }
}
.centro-entrenamiento #about {
  font-size: 1.2em;
}
.centro-entrenamiento #about span {
  font-weight: bold;
}
@media only screen and (max-width: 1100px) {
  .centro-entrenamiento #about {
    font-size: 1.5em;
  }
}
@media only screen and (max-width: 770px) {
  .centro-entrenamiento #about {
    font-size: 1.7em;
  }
}
@media only screen and (max-width: 550px) {
  .centro-entrenamiento #about {
    font-size: 2.2em;
  }
}
.centro-entrenamiento #top-content {
  color: #e5408c;
  overflow: hidden;
}
.centro-entrenamiento #top-content .center-big {
  font-size: 7em;
  line-height: 0.9em;
}
.centro-entrenamiento #top-content .center-small {
  font-size: 2em;
  line-height: 1em;
  margin-top: -0.5em;
}
.centro-entrenamiento .bottom-content p {
  font-weight: bold;
}
.centro-entrenamiento .bottom-content p:nth-child(1) {
  font-size: 7em;
}
.centro-entrenamiento .bottom-content p:nth-child(2) {
  font-size: 2.5em;
}
.centro-entrenamiento h1 {
  padding: 0.5em 0;
}
html {
  margin: 0;
}
body {
  margin: 0 auto;
  max-width: 1280px;
  min-width: 320px;
  padding: 0;
}
body:not(.centro-entrenamiento) {
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 250% auto;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
#container {
  background-color: rgba(217,218,219,0.8);
  padding: 1em;
  position: relative;
}
#top-content {
  margin: 2em 0 1.2em 0;
}
#top-content .next-button {
  display: none;
}
#top-content div {
  display: inline-block;
}
#top-content div:nth-child(2) {
  float: right;
  text-align: center;
}
#top-content div:nth-child(2) a {
  color: #e5408c;
}
@media only screen and (max-width: 450px) {
  #top-content div:nth-child(2) a {
    display: block;
    position: relative;
  }
}
@media only screen and (max-width: 450px) {
  #top-content div:nth-child(2) {
    text-align: left;
    width: 100%;
  }
  #top-content div:nth-child(2) .next-button {
    -webkit-animation: next-button-anim 1s infinite;
            animation: next-button-anim 1s infinite;
    display: inline;
    float: right;
    margin-right: 0.1em;
  }
  #top-content div:nth-child(2) p {
    display: inline-block;
    line-height: 1em;
    vertical-align: baseline;
  }
}
@media only screen and (max-width: 450px) {
  #top-content div:nth-child(2) {
    float: none;
  }
}
@media only screen and (max-width: 600px) {
  #top-content div {
    width: 50%;
  }
}
@media only screen and (max-width: 450px) {
  #top-content div:nth-child(1) {
    display: none;
  }
}
#top-content h1 {
  color: #f29500;
}
#top-content img {
  vertical-align: middle;
}
@media only screen and (max-width: 600px) {
  #top-content img {
    max-width: 293px;
    width: 100%;
  }
}
@media only screen and (max-width: 450px) {
  #top-content {
    margin: 0;
    padding: 0.2em 0;
  }
}
.facebook {
  position: absolute;
  top: 1em;
  right: 1em;
}
@media only screen and (max-width: 450px) {
  .facebook {
    display: none;
  }
}
.logo {
  color: #6f7072;
}
.logo img {
  display: inline-block;
  vertical-align: bottom;
}
@media only screen and (max-width: 600px) {
  .logo img {
    width: 130px;
  }
}
@media only screen and (max-width: 450px) {
  .logo img {
    width: 100px;
  }
}
@media only screen and (max-width: 450px) {
  .logo {
    text-align: center;
  }
}
.logo p {
  display: inline-block;
  margin-bottom: 0.5em;
  vertical-align: bottom;
  text-align: center;
}
.logo p span {
  display: block;
}
nav {
  background-color: #97be0c;
  border-radius: 0.5em;
  margin-top: 1em;
  padding: 0.3em;
  text-align: center;
}
nav .burguer {
  border: 1px solid #6f7072;
  border-radius: 3px;
  color: #6f7072;
  display: none;
  padding: 0.4em 0.5em;
  cursor: pointer;
}
nav .burguer:hover .burguer-icon {
  color: #97be0c;
}
nav .burguer:hover .close-icon {
  color: #6f7072;
}
nav .burguer .close-icon {
  color: #97be0c;
  display: none;
}
nav .burguer .burguer-icon {
  display: inline-block;
}
nav .burguer .burguer-icon,
nav .burguer .close-icon {
  vertical-align: bottom;
}
nav .burguer span {
  display: inline-block;
  margin: 0 0 -2px 10px;
  vertical-align: bottom;
}
@media only screen and (max-width: 830px) {
  nav .burguer {
    display: inline-block;
  }
}
nav ul {
  text-align: center;
}
nav ul li {
  display: inline-block;
  margin: 0 4.5%;
  text-align: center;
  position: relative;
  margin-top: 0.5em;
}
@media only screen and (max-width: 1140px) {
  nav ul li {
    margin: 0.5em 4% 0 4%;
  }
}
@media only screen and (max-width: 1010px) {
  nav ul li {
    margin: 0.5em 3% 0 3%;
  }
}
@media only screen and (max-width: 830px) {
  nav ul li {
    border-bottom: 1px dotted rgba(0,0,0,0.2);
    display: block;
    margin: 1em 4em;
    text-shadow: 1px 1px 0px #000;
  }
}
nav ul li a {
  color: #fff;
}
nav ul li ul {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
}
@media only screen and (max-width: 830px) {
  nav ul li ul {
    position: relative;
  }
}
nav ul li ul li {
  display: block;
  margin: 0;
  text-align: left;
  width: 240%;
  z-index: 999;
}
@media only screen and (max-width: 830px) {
  nav ul li ul li {
    background-color: transparent !important;
    border: none;
    display: block;
    width: auto;
  }
}
nav ul li ul li i {
  color: #97be0c;
  display: none !important;
  margin-right: 2px;
}
@media only screen and (max-width: 830px) {
  nav ul li ul li i {
    display: inline-block !important;
  }
}
nav ul li ul li a {
  display: block;
  padding: 5% 5% 2% 5%;
}
@media only screen and (max-width: 830px) {
  nav ul li ul li a {
    padding: 2% 0 1% 0;
    text-align: center;
  }
}
nav ul li ul li:nth-child(1) {
  background-color: #275d24;
}
nav ul li ul li:nth-child(2) {
  background-color: rgba(39,93,36,0.9);
}
nav ul li ul li:nth-child(3) {
  background-color: rgba(39,93,36,0.8);
}
nav ul li ul li:nth-child(4) {
  background-color: rgba(39,93,36,0.6);
}
@media only screen and (min-width: 831px) {
  nav ul li:hover ul {
    display: block;
  }
}
@media only screen and (max-width: 830px) {
  nav ul {
    display: none;
  }
}
nav.open .burguer .burguer-icon {
  display: none;
}
nav.open .burguer .close-icon {
  display: inline-block;
}
@media only screen and (max-width: 830px) {
  nav {
    background-color: transparent;
  }
}
#about {
  margin-top: 4em;
  text-align: center;
}
#about p > span {
  border-top: 1px solid #000;
  padding-top: 0.5em;
}
@media only screen and (max-width: 640px) {
  #about span > span {
    display: block;
  }
  #about .dash {
    display: none;
  }
}
.recommendations {
  background-color: rgba(151,190,12,0.8);
  margin-top: 2em;
  padding: 1em;
}
.recommendations div {
  display: inline-block;
  vertical-align: middle;
}
.recommendations #logo2 {
  text-align: right;
  width: 16%;
}
.recommendations #logo2 img {
  height: auto;
  max-width: 130px;
  vertical-align: middle;
  width: 100%;
}
@media only screen and (max-width: 830px) {
  .recommendations #logo2 {
    width: 20%;
  }
}
@media only screen and (max-width: 500px) {
  .recommendations #logo2 {
    display: block;
    margin-top: 1.5em;
    text-align: center;
    width: 100%;
  }
}
.recommendations #messages {
  color: #fff;
  text-align: center;
  width: 68%;
}
.recommendations #messages p {
  line-height: 1em;
}
@media only screen and (max-width: 830px) {
  .recommendations #messages {
    width: 80%;
  }
}
@media only screen and (max-width: 500px) {
  .recommendations #messages {
    display: block;
    width: 100%;
  }
}
.recommendations #news {
  text-align: left;
  width: 16%;
}
.recommendations #news div {
  background-color: #fff;
  border-radius: 0.7em;
  color: #97be0c;
  text-align: center;
  padding: 0.5em;
  width: 100px;
}
.recommendations #news div span {
  display: block;
}
.recommendations #news div span:nth-child(2) {
  margin-top: -1.2em;
}
@media only screen and (max-width: 830px) {
  .recommendations #news {
    display: none;
  }
}
@media only screen and (max-width: 830px) {
  .recommendations {
    background-image: url("../img/two-quotes-left.png"), url("../img/two-quotes-right.png");
    background-repeat: no-repeat, no-repeat;
    background-position: 1% 40%, 75% 40%;
  }
}
@media only screen and (max-width: 500px) {
  .recommendations {
    background-position: 1% 5%, 99% 5%;
    background-size: 10%, 10%;
  }
}
@media only screen and (max-width: 376px) {
  .recommendations {
    background-position: 1% 10%, 99% 10%;
  }
}
.slider {
  background-color: #97be0c;
  color: #00632e;
  margin-top: 0.8em;
  padding: 5% 0;
  text-align: center;
}
.slider div,
.slider ul {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.slider img {
  max-width: 99px;
  vertical-align: middle;
  width: 100%;
}
.slider .left-arrow,
.slider .right-arrow {
  text-align: right;
  width: 15%;
}
.slider .right-arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.slider .slides {
  margin: 0 0.4em;
  max-width: 560px;
  width: 60%;
}
.slider .slides li {
  position: absolute;
  text-align: center;
  -webkit-transform: translateY(-50%) !important;
          transform: translateY(-50%) !important;
  width: 100%;
}
.slider .slides li.hideable {
  display: none;
}
.slider .slides li.active {
  display: block;
}
.slider .slides li.whitestyle {
  color: #fff;
}
.slider .slides li p {
  line-height: 0.8em;
}
.content {
  background-color: rgba(245,245,246,0.8);
  margin-top: 1.5em;
  padding: 2em;
}
.school {
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 2em;
     -moz-column-gap: 2em;
          column-gap: 2em;
}
.school .two-col {
  display: block;
  vertical-align: middle;
  -webkit-break-inside: avoid;
  page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
          break-inside: avoid;
}
.school .two-col .logo {
  margin-bottom: 1em;
}
.school .two-col .logo span {
  color: #00632e;
  display: block;
  text-align: center;
}
.school .two-col .name {
  display: block;
}
.school .two-col .portrait {
  border-radius: 50%;
}
.school .two-col .portrait + p {
  margin-top: 1em;
}
.school .two-col .portrait + p span:nth-child(1) {
  display: block;
  margin-bottom: 0.5em;
}
.school .two-col .teacher-quote {
  display: none;
  margin: 0 auto;
  margin-bottom: 2.5em;
  width: 80%;
}
.school .two-col .teacher-quote img,
.school .two-col .teacher-quote p {
  display: inline-block;
  vertical-align: middle;
}
@media only screen and (max-width: 700px) {
  .school .two-col .teacher-quote img,
  .school .two-col .teacher-quote p {
    display: block;
  }
}
.school .two-col .teacher-quote img {
  margin-right: 4%;
  max-width: 293px;
  width: 30%;
}
@media only screen and (max-width: 700px) {
  .school .two-col .teacher-quote img {
    margin: 0 auto;
    width: 60%;
  }
}
.school .two-col .teacher-quote p {
  border-top: 1px solid #97be0c;
  border-bottom: 1px solid #97be0c;
  box-sizing: border-box;
  margin: 0;
  padding: 1em 0;
  width: 66%;
}
@media only screen and (max-width: 700px) {
  .school .two-col .teacher-quote p {
    margin: 1em auto 0 auto;
    width: 100%;
  }
}
@media only screen and (max-width: 910px) {
  .school .two-col .teacher-quote {
    display: block;
  }
}
@media only screen and (max-width: 700px) {
  .school .two-col .teacher-quote {
    text-align: center;
    width: 90%;
  }
}
.school .two-col:nth-child(2) {
  text-align: center;
}
@media only screen and (max-width: 910px) {
  .school .two-col:nth-child(2) {
    display: none;
  }
}
@media only screen and (max-width: 910px) {
  .school {
    -webkit-column-count: 1;
       -moz-column-count: 1;
            column-count: 1;
  }
}
.training {
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  padding: 0;
  position: relative;
}
.training .page {
  box-sizing: border-box;
  padding: 2em 3em;
  position: absolute;
  visibility: hidden;
}
.training .page.active {
  position: relative;
  visibility: visible;
}
.training .page.pageone i {
  margin-right: 0.2em;
}
.training .blue-link {
  color: #009de0;
}
.training .copy {
  color: #6f7072;
  margin: -0.4em 0 0.8em 0;
}
.training .title,
.training .subtitle {
  color: #00632e;
}
.training .subtitle {
  margin: 1em 0 0.5em 0;
}
.training .prev-button,
.training .next-button {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2;
}
.training .prev-button a,
.training .next-button a {
  color: #6f7072;
  display: block;
}
.training .prev-button {
  -webkit-animation: prev-button-anim 1s infinite;
          animation: prev-button-anim 1s infinite;
  display: none;
  left: 7px;
}
.training .next-button {
  -webkit-animation: next-button-anim 1s infinite;
          animation: next-button-anim 1s infinite;
  right: 7px;
}
.ppg .container {
  position: relative;
}
.ppg .pagetwo p:nth-child(1) {
  color: #6f7072;
}
.ppg .pagetwo p:nth-child(2) {
  margin-top: 1em;
}
.ppg .pagetwo p:nth-child(2) span {
  display: block;
}
.ppg .pagetwo p:nth-child(3) {
  margin-top: 0.5em;
  text-align: center;
}
.ppg .pagetwo p:nth-child(3) img {
  vertical-align: middle;
  width: 50%;
  max-width: 497px;
}
.ppg .pagetwo p:nth-child(3) img:nth-child(2) {
  margin-left: -3em;
}
@media only screen and (max-width: 800px) {
  .ppg .pagetwo p:nth-child(3) img:nth-child(2) {
    margin: -2em auto 0 auto;
  }
}
@media only screen and (max-width: 500px) {
  .ppg .pagetwo p:nth-child(3) img:nth-child(2) {
    margin-top: -1em;
  }
}
@media only screen and (max-width: 800px) {
  .ppg .pagetwo p:nth-child(3) img {
    display: block;
    margin: 0 auto;
    width: 70%;
  }
}
@media only screen and (max-width: 500px) {
  .ppg .pagetwo p:nth-child(3) img {
    width: 100%;
  }
}
.ppg .pagethree div {
  display: inline-block;
  width: 70%;
}
@media only screen and (max-width: 900px) {
  .ppg .pagethree div {
    width: 100%;
  }
}
.ppg .pagethree h3 {
  margin-bottom: 1em;
}
.ppg .pagethree img {
  max-width: 324px;
}
.ppg .pagethree img.center {
  display: none;
}
@media only screen and (max-width: 900px) {
  .ppg .pagethree img.center {
    display: block;
    margin: 1em auto;
    width: 100%;
  }
}
.ppg .pagethree img.lateral {
  bottom: 0;
  position: absolute;
  right: 3em;
  width: 25%;
}
@media only screen and (max-width: 900px) {
  .ppg .pagethree img.lateral {
    display: none;
  }
}
.ppg .pagefour div:nth-child(2) {
  display: inline-block;
  width: 60%;
}
@media only screen and (max-width: 900px) {
  .ppg .pagefour div:nth-child(2) {
    width: 100%;
  }
}
.ppg .pagefour div:nth-child(4) {
  margin-top: 3em;
}
.ppg .pagefour div:nth-child(4) h3 {
  width: 50%;
}
@media only screen and (max-width: 900px) {
  .ppg .pagefour div:nth-child(4) h3 {
    width: 100%;
  }
}
.ppg .pagefour h3 {
  margin-bottom: 1em;
}
.ppg .pagefour img {
  max-width: 520px;
}
.ppg .pagefour img.center {
  display: none;
}
@media only screen and (max-width: 900px) {
  .ppg .pagefour img.center {
    display: block;
    margin: 1em auto;
    width: 100%;
  }
}
.ppg .pagefour img.lateral {
  position: absolute;
  right: 3em;
  top: 0;
  width: 50%;
}
@media only screen and (max-width: 900px) {
  .ppg .pagefour img.lateral {
    display: none;
  }
}
.kstretch .pageone a,
.kstretch .pageone p:not(.intro),
.kstretch .pageone ul {
  width: 60%;
}
.kstretch .pageone img {
  bottom: 2em;
  position: absolute;
  right: 3em;
}
.profesionals {
  padding: 2em 3em;
}
.profesionals .two-col {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}
.profesionals .two-col .title {
  color: #6f7072;
}
.profesionals .two-col .names {
  margin-top: 2em;
}
.profesionals .two-col .names li {
  color: #00632e;
}
@media only screen and (max-width: 720px) {
  .profesionals .two-col {
    width: 100%;
  }
}
.profesionals .two-col:nth-child(2) {
  margin-top: 3em;
}
.profesionals .gallery {
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 0;
     -moz-column-gap: 0;
          column-gap: 0;
}
@media only screen and (max-width: 460px) {
  .profesionals .gallery {
    -webkit-column-count: 1;
       -moz-column-count: 1;
            column-count: 1;
  }
}
.events h2 {
  color: #00632e;
  text-transform: lowercase;
}
.events h2:first-letter {
  text-transform: uppercase;
}
.events h2 span {
  color: #6f7072;
  text-transform: capitalize;
}
.events h3 {
  color: #6f7072;
  margin-bottom: 1em;
  text-transform: uppercase;
}
.events img {
  max-width: 325px;
  width: 100%;
}
.gallery {
  text-align: center;
}
.gallery ul {
  -webkit-column-count: 4;
     -moz-column-count: 4;
          column-count: 4;
  -webkit-column-gap: 0;
     -moz-column-gap: 0;
          column-gap: 0;
}
@media only screen and (max-width: 984px) {
  .gallery ul {
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3;
  }
}
@media only screen and (max-width: 688px) {
  .gallery ul {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
  }
}
@media only screen and (max-width: 392px) {
  .gallery ul {
    -webkit-column-count: 1;
       -moz-column-count: 1;
            column-count: 1;
  }
}
.gallery li {
  overflow: hidden;
  position: relative;
}
.gallery li figure {
  margin: 0;
  left: 100%;
  margin-left: -200%;
  position: relative;
}
.gallery li figure a {
  display: block;
}
.gallery li figure a img {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  max-width: 310px;
  width: 296px;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.gallery li figure a:after {
  background: #fff;
  bottom: 0;
  content: '';
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}
.gallery li:hover a:after {
  opacity: 0.7;
}
.gallery .single {
  height: 198px;
}
.gallery .double {
  height: 396px;
}
.contact form {
  width: 50%;
}
@media only screen and (max-width: 700px) {
  .contact form {
    width: 100%;
  }
}
.contact form label,
.contact form input:not([type=submit]),
.contact form textarea {
  display: block;
}
.contact form input:not([type=submit]),
.contact form textarea {
  background-color: transparent;
  border: 1px solid rgba(217,218,219,0.8);
  border-radius: 4px;
  box-shadow: 1px 0px 1px rgba(0,0,0,0.5);
  color: #00632e;
  margin: 0.3em 0 1.5em 0;
  outline: none;
  padding: 0.5em;
  width: 100%;
}
.contact form input[type=submit] {
  background: #00632e;
  border-radius: 3px;
  border: 0;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 2px 0px rgba(151,190,12,0.8), inset 0 -1px 0 rgba(255,255,255,0.15), 0 5px 5px 1px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 2px 0px rgba(151,190,12,0.8), inset 0 -1px 0 rgba(255,255,255,0.15), 0 5px 5px 1px rgba(0,0,0,0.5);
  -ms-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 2px 0px rgba(151,190,12,0.8), inset 0 -1px 0 rgba(255,255,255,0.15), 0 5px 5px 1px rgba(0,0,0,0.5);
  -o-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 2px 0px rgba(151,190,12,0.8), inset 0 -1px 0 rgba(255,255,255,0.15), 0 5px 5px 1px rgba(0,0,0,0.5);
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 2px 0px rgba(151,190,12,0.8), inset 0 -1px 0 rgba(255,255,255,0.15), 0 5px 5px 1px rgba(0,0,0,0.5);
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  margin-top: 0.5em;
  padding: 0.8em 1.2em;
  text-shadow: 0 1px 4px #000;
  transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -ms-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  -webkit-transition: background 0.3s ease;
}
.contact form label {
  line-height: 1em;
}
.contact form p {
  border: none;
  margin: 0;
  text-align: center;
}
.contact p {
  border-bottom: 1px solid #97be0c;
  margin-bottom: 2em;
}
.centro-entrenamiento #about {
  margin-top: 1.5em;
  padding: 3em 0;
}
.centro-entrenamiento #about p {
  color: #e5408c;
}
.centro-entrenamiento #about span {
  border: none;
}
.centro-entrenamiento #about p > span {
  border-top: 1px solid #e5408c;
  padding-top: 0.5em;
}
.centro-entrenamiento .bottom-content {
  color: #fff;
  margin-top: 2em;
  text-align: center;
}
.centro-entrenamiento .bottom-content p:nth-child(1) {
  background-color: #87d5b9;
  line-height: 0.8em;
  padding-top: 0.3em;
}
.centro-entrenamiento .bottom-content p:nth-child(2) span {
  display: inline-block;
  line-height: 1.5em;
  padding-top: 0.3em;
}
.centro-entrenamiento .bottom-content p:nth-child(2) span:nth-child(1) {
  background-color: #e5408c;
  width: 35%;
}
.centro-entrenamiento .bottom-content p:nth-child(2) span:nth-child(2) {
  background-color: #3fbc90;
  width: 65%;
}
.centro-entrenamiento .content {
  background-color: #87d5b9;
}
.centro-entrenamiento .content .centro-gallery {
  border: 1px dashed #fff;
  padding: 1em;
}
.centro-entrenamiento .content .centro-gallery ul {
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 0;
     -moz-column-gap: 0;
          column-gap: 0;
}
@media only screen and (max-width: 460px) {
  .centro-entrenamiento .content .centro-gallery ul {
    -webkit-column-count: 1;
       -moz-column-count: 1;
            column-count: 1;
  }
}
.centro-entrenamiento .content .prevent {
  margin-top: 1em;
  text-align: right;
}
@-webkit-keyframes next-button-anim {
  0% {
    -webkit-transform: translate(2px, 0);
            transform: translate(2px, 0);
  }
  50% {
    -webkit-transform: translate(-2px, 0);
            transform: translate(-2px, 0);
  }
  100% {
    -webkit-transform: translate(2px, 0);
            transform: translate(2px, 0);
  }
}
@keyframes next-button-anim {
  0% {
    -webkit-transform: translate(2px, 0);
            transform: translate(2px, 0);
  }
  50% {
    -webkit-transform: translate(-2px, 0);
            transform: translate(-2px, 0);
  }
  100% {
    -webkit-transform: translate(2px, 0);
            transform: translate(2px, 0);
  }
}
@-webkit-keyframes prev-button-anim {
  0% {
    -webkit-transform: translate(-2px, 0);
            transform: translate(-2px, 0);
  }
  50% {
    -webkit-transform: translate(2px, 0);
            transform: translate(2px, 0);
  }
  100% {
    -webkit-transform: translate(-2px, 0);
            transform: translate(-2px, 0);
  }
}
@keyframes prev-button-anim {
  0% {
    -webkit-transform: translate(-2px, 0);
            transform: translate(-2px, 0);
  }
  50% {
    -webkit-transform: translate(2px, 0);
            transform: translate(2px, 0);
  }
  100% {
    -webkit-transform: translate(-2px, 0);
            transform: translate(-2px, 0);
  }
}
