/* ===== FONT-FACE ==========================================================================================*/

@font-face
	font-family 'Garamond'
	font-style normal
	font-weight normal
	src url(../fonts/GaramondPremrPro-It.eot?#iefix) format('embedded-opentype'),
		url(../fonts/GaramondPremrPro-It.otf) format('opentype'),
		url(../fonts/GaramondPremrPro-It.woff) format('woff'), 
		url(../fonts/GaramondPremrPro-It.ttf) format('truetype'), 
		url(../fonts/GaramondPremrPro-It.svg#GaramondPremrPro-It) format('svg')

@font-face
	font-family 'HelveticaLtStd'
	font-style normal
	font-weight normal
	src url(../fonts/HelveticaLTStd-Light.eot?#iefix) format('embedded-opentype'),  
		url(../fonts/HelveticaLTStd-Light.otf) format('opentype'),
		url(../fonts/HelveticaLTStd-Light.woff) format('woff'), 
		url(../fonts/HelveticaLTStd-Light.ttf) format('truetype'), 
		url(../fonts/HelveticaLTStd-Light.svg#HelveticaLTStd-Light) format('svg')

@font-face
	font-family 'HelveticaLtStd'
	font-style normal
	font-weight bold
	src url(../fonts/HelveticaLTStd-Bold.eot?#iefix) format('embedded-opentype'),
		url(../fonts/HelveticaLTStd-Bold.otf) format('opentype'),
		url(../fonts/HelveticaLTStd-Bold.woff) format('woff'),
		url(../fonts/HelveticaLTStd-Bold.ttf) format('truetype'),
		url(../fonts/HelveticaLTStd-Bold.svg#HelveticaLTStd-Bold) format('svg')

@font-face
	font-family 'Calibri'
	font-style italic
	font-weight normal
	src url(../fonts/Calibri-Italic.eot?#iefix) format('embedded-opentype'), 
		url(../fonts/Calibri-Italic.woff) format('woff'), 
		url(../fonts/Calibri-Italic.ttf) format('truetype'), 
		url(../fonts/Calibri-Italic.svg#Calibri-Italic) format('svg')

@font-face
	font-family 'Calibri'
	font-style normal
	font-weight bold
	src url(../fonts/Calibri-Bold.eot?#iefix) format('embedded-opentype'), 
		url(../fonts/Calibri-Bold.woff) format('woff'), 
		url(../fonts/Calibri-Bold.ttf) format('truetype'), 
		url(../fonts/Calibri-Bold.svg#Calibri-Bold) format('svg')


/* ===== FONT STYLES ==========================================================================================*/

body
	font-family 'HelveticaLtStd'
	font-size 16px
	+below(600px)
		font-size 14px
	+below(450px)
		font-size 13px

nav
	font-weight bold
	.burguer
		.burguer-icon
			font-size 1.5em
		span
			font-weight normal

#about
	span > span
		font-weight bold

#top-content
	font-family 'Garamond'
	.center-big
		font-size 2em
		line-height .5em
	.center-small
		font-size 1.6em
	h1
		font-weight normal
		line-height 0px

.logo
	font-family 'Garamond'
	font-size 1.5em
	span:nth-child(2)
		font-size 1.2em

.recommendations
	font-family 'Calibri'
	div:nth-child(2)
		p:nth-child(1)
			font-style italic
		p:nth-child(2)
			font-weight bold
	#messages
		font-size 2.2em
	#news
		font-family 'HelveticaLtStd'
		font-weight bold
		span:nth-child(1)
			font-size 5em
		span:nth-child(2)
			font-size 1.3em

.slider
	font-family 'Calibri'
	font-size 3.5em
	li
		&.greenstyle
			p:last-child
				font-size 1.33em
		&.whitestyle
			p
				font-style italic
				&:last-child
					font-weight bold

.two-col
	.logo
		font-size 2.5em
	.name
		font-weight bold
	.portrait
		& + p
			font-style italic

.training
	.title
		font-size 4em
	.page
		& .pagetwo
			p
				&:nth-child(1)
					font-style italic
				&:nth-child(2)
					font-weight bold
		& .pagefour
			p:nth-child(3)
				font-style italic


.events
	h2
		font-size 2.2em
		span
			font-size .6em


.contact
	input, textarea
		font-size 1.1em
	label
		font-size 1.5em


.centro-entrenamiento
	#about
		font-size 1.2em
		span
			font-weight bold
	.bottom-content
		p
			font-weight bold
			&:nth-child(1)
				font-size 7em
			&:nth-child(2)
				font-size 2.5em