{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Bienvenido al Sitio de la Escuela de Formación de Johana Dominé</title>

	<link rel="stylesheet" href="{% static "css/styles.css" %}">
	<link rel="stylesheet" href="{% static "css/font-awesome-4.6.3/css/font-awesome.min.css" %}">
	<script src="//cdn.jsdelivr.net/velocity/1.2.3/velocity.min.js"></script>
	<script src="//cdn.jsdelivr.net/velocity/1.2.3/velocity.ui.min.js"></script>
	{% block head %}{% endblock %}
</head>
<body>
	<div id="top-content">
		<div><img src="{% static "img/vertebral_top.png" %}" alt="Escuela de Formación Johana Dominé"></div><!--
		--><div>
			<a href="/centro-entrenamiento">
				<p class="center-big">CENTRO</p>
				<p class="center-small">de entrenamiento y postura</p>
			</a>
		</div>
	</div>
	<div id="container">
		<header>
			<div>
				<h1 class="logo">
					<img src="{% static "img/logo.png" %}" alt="Escuela de Formación Johana Dominé">
					<p>
						<span>Escuela de Formación</span>
						<span>JOHANA DOMINÉ</span>
					</p>
				</h1>
				<a href="#" class="facebook"><img src="{% static "img/fb_logo.png" %}" alt="Visita nuestra Fan Page!"></a>
			</div>
			<nav>
				<ul>
					<li><a href="/">HOME</a></li><!--
					--><li><a href="/escuela/">ESCUELA</a></li><!--
					--><li>
							<a href="#">CAPACITACIONES</a>
							<ul>
								<li><a href="/capacitaciones/ppg/">PPG</a></li>
								<li><a href="/capacitaciones/pactivo/">PILATES ACTIVO</a></li>
								<li><a href="/capacitaciones/kstretch/">K-STRETCH</a></li>
								<li><a href="#">PROFESIONALES CERTIFICADOS</a></li>
							</ul>
						</li><!--
					--><li><a href="/eventos/">EVENTOS</a></li><!--
					--><li><a href="/galeria/">GALERIA</a></li><!--
					--><li><a href="/contacto/">CONTACTO</a></li>
				</ul>
			</nav>
		</header>
		{% block content %}{% endblock %}
	</div>
	<div class="recommendations">
		<div id="news">
			<div>
				<span>N</span>
				<span>noticias</span>
			</div>
		</div><!--
		--><div id="messages">
			{% block messages %}{% endblock %}
		</div><!--
		--><div id="logo2"><img src="{% static "img/logo2.png" %}" alt="Escuela de Formación Joahana Dominé"></div>
	</div>
	<footer>
		<div id="about">
			<p><span><span>Escuela de Formación Profesional Johana Dominé</span> - Arrecifes Pcia. de Buenos Aires</span></p>
		</div>
		<div class="slider">
			<div class="left-arrow"><img src="{% static "img/arrow.png" %}" alt=""></div><!--
			--><ul class="slides">
					<li id="1" class="hideable greenstyle active">
						<p>El Método ofrece</p>
						<p>al PROFESOR</p>
					</li>
					<li id="2" class="hideable whitestyle">
						<p>implementar el método</p>
						<p>con su espacio</p>
					</li>
					<li id="3" class="hideable whitestyle">
						<p>Seriedad y Calidad</p>
						<p>en las clases</p>
					</li>
					<li id="4" class="hideable whitestyle">
						<p>No es necesario</p>
						<p>el uso de elementos</p>
						<p>sólo el Reformer</p>
					</li>
					<li id="5" class="hideable whitestyle">
						<p>Innovación</p>
						<p>Excelente resultado</p>
					</li>
				</ul><!--
			--><div class="right-arrow"><img src="{% static "img/arrow.png" %}" alt=""></div>
		</div>
	</footer>
	<script src="{% static "js/js.js" %}" type="text/javascript"></script>
	{% block closescripts %}{% endblock %}
</body>
</html>