{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Bienvenido al Sitio de la Escuela de Formación de Johana Dominé</title>

	<link rel="stylesheet" href="{% static "css/styles.css" %}">
</head>
<body>
	<div id="top-content">
		<div><img src="{% static "img/vertebral_top.png" %}" alt="Escuela de Formación Johana Dominé"></div><!--
		--><div>
			<p>CENTRO</p>
			<p>de entrenamiento y postura</p>
		</div>
	</div>
	<div id="container">
		<header>
			<div>
				<h1 class="logo">
					<img src="{% static "img/logo.png" %}" alt="Escuela de Formación Johana Dominé">
					<p>
						<span>Escuela de Formación</span>
						<span>JOHANA DOMINÉ</span>
					</p>
				</h1>
				<a href="#" class="facebook"><img src="{% static "img/fb_logo.png" %}" alt="Visita nuestra Fan Page!"></a>
			</div>
			<nav>
				<ul>
					<li><a href="#">HOME</a></li><!--
					--><li><a href="#">ESCUELA</a></li><!--
					--><li><a href="#">CAPACITACIONES</a></li><!--
					--><li><a href="#">EVENTOS</a></li><!--
					--><li><a href="#">GALERIA</a></li><!--
					--><li><a href="#">CONTACTO</a></li>
				</ul>
			</nav>
		</header>
		<section class="content">
			{% block content %}{% endblock %}
		</section>
	</div>
	<div class="recommendations">
		<div id="news">
			<div>
				<span>N</span>
				<span>noticias</span>
			</div>
		</div><!--
		--><div id="messages">
			<p>la gente demanda tomar éstas clases</p>
			<p>Excelente resultado</p>
		</div><!--
		--><div id="logo2"><img src="{% static "img/logo2.png" %}" alt="Escuela de Formación Joahana Dominé"></div>
	</div>
	<footer>
		<div id="about">
			<p><span><span>Escuela de Formación Profesional Johana Dominé</span> - Arrecifes Pcia. de Buenos Aires</span></p>
		</div>
		<div class="slider">
			<p>El Método ofrece</p>
			<p>al PROFESOR</p>
		</div>
	</footer>
</body>
</html>