{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Centro de Entrenamiento y Postura de Johana Dominé</title>

	<link rel="stylesheet" href="{% static "css/styles.css" %}">
</head>
<body class="centro-entrenamiento">
	<div id="top-content">
		<h1><span class="center-big">CENTRO</span> <span class="center-small">de entrenamiento y postura</span></h1>
	</div>
	<img src="{% static "img/centro_1.jpg" %}" alt="" class="center-green-img">
	<img src="{% static "img/centro_2.jpg" %}" alt="">
	
	<div id="about">
		<p><span>Escuela de Formación Profesional Johana Dominé</span> - Arrecifes Pcia. de Buenos Aires</p>
	</div>

	<div class="bottom-content">
		<p>CLASES GRUPALES</p>
		<p><span>SENTITE BIEN</span><span>RESULTADOS COMPROBABLES</span></p>
	</div>
</body>
</html>