{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<section class="content contact">
	<p>¡Dejame tu mensaje y te estare contactando a la brevedad!</p>
	<form id="contact-form" action="" method="post">
		{% csrf_token %}
		<label for="name">Nombre</label>
		{{ form.name }}
		<label for="email">Email</label>
		{{ form.email }}
		<label for="telephone">Telefono</label>
		{{ form.telephone }}
		<label for="message">Mensaje</label>
		{{ form.message }}
		<p><input type="submit" value="Enviar el mensaje!"></p>
	</form>
</section>
{% endblock %}