{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<section class="content school">
	<div class="two-col">
		<h2 class="logo">
			<span>Escuela de Formación</span>
			<span>JOHANA DOMINÉ</span>
		</h2>
		<div class="teacher-quote">
			<img class="portrait" src="{% static "img/johana.jpg" %}" alt="Johana Dominé"><!--
			--><p>
				<span>Lograr una postura armónica:</span>
				<span>"La postura más cercana a la postura correcta que cada persona puede conseguir, según sus posibilidades individuales en cada momento y etapa de su vida"</span>
			</p>
		</div>
		<p>
			<span class="name">DOMINÉ SULLIVAN JOHANA MARIEL</span>
			Profesora de educación fisica especializada en tecnicas de corrección postural, creadora del metodo “pilates postural global”, diplomada en “gimnasia postural global”, instructora en “sistema de estiramiento global”, instructora en metodo pilates mat y pilates reformer, entrenadora personal, instructora de indoor cycle, certificada en esferodinamia y pilates para problemas de columna vertebral. He participado de congresos, jornadas de actualización y cursos sobre actividad fisica, fitness, nutrición y salud.
		</p>
		<p>
			Actualmente soy propietaria y docente en “Equilibrio Gym” dictando clases de estiramiento correctivo postural, pilates postural global, pilates reformer y pilates mat.
		</p>
		<p>
			Dicto clases de educación fisica y construccion ciudadana en escuelas publicas y privadas. Actualización contínua.
		</p>
	</div><!--
	--><div class="two-col">
		<img class="portrait" src="{% static "img/johana.jpg" %}" alt="Johana Dominé">
		<p>
			<span>Lograr una postura armónica:</span>
			<span>"La postura más cercana a la postura correcta que cada persona puede conseguir, según sus posibilidades individuales en cada momento y etapa de su vida"</span>
		</p>
	</div>
</section>
{% endblock %}

{% block messages %}
<p>la gente demanda tomar éstas clases</p>
<p>Excelente resultado</p>
{% endblock %}