{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
	<!--[if lt IE 9]>
		<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js" type="text/javascript"></script>
	<![endif]-->
	<link rel="stylesheet" href="{% static "js/jsOnlyLightbox/css/lightbox.css" %}">
{% endblock %}

{% block content %}
<section class="content gallery">
	<ul>
		<li class="single">
			<figure><a href=""><img src="{% static "img/gallery/mini/11.jpg" %}" alt="" data-jslghtbx="{% static "img/gallery/11.jpg" %}"></a></figure>
		</li><!--
		--><li class="double">
			<figure><a href=""><img src="{% static "img/gallery/mini/3.jpg" %}" alt="" data-jslghtbx="{% static "img/gallery/3.jpg" %}"></a></figure>
		</li><!--
		--><li class="single">
			<figure><a href=""><img src="{% static "img/gallery/mini/2.jpg" %}" alt="" data-jslghtbx="{% static "img/gallery/2.jpg" %}"></a></figure>
		</li><!--
		--><li class="single">
			<figure><a href=""><img src="{% static "img/gallery/mini/4.jpg" %}" alt="" data-jslghtbx="{% static "img/gallery/4.jpg" %}"></a></figure>
		</li><!--
		--><li class="single">
			<figure><a href=""><img src="{% static "img/gallery/mini/9.jpg" %}" alt="" data-jslghtbx="{% static "img/gallery/9.jpg" %}"></a></figure>
		</li><!--
		--><li class="double">
			<figure><a href=""><img src="{% static "img/gallery/mini/5.jpg" %}" alt="" data-jslghtbx="{% static "img/gallery/5.jpg" %}"></a></figure>
		</li><!--
		--><li class="single">
			<figure><a href=""><img src="{% static "img/gallery/mini/1.jpg" %}" alt="" data-jslghtbx="{% static "img/gallery/1.jpg" %}"></a></figure>
		</li><!--
		--><li class="single">
			<figure><a href=""><img src="{% static "img/gallery/mini/10.jpg" %}" alt="" data-jslghtbx="{% static "img/gallery/10.jpg" %}"></a></figure>
		</li><!--
		--><li class="single">
			<figure><a href=""><img src="{% static "img/gallery/mini/8.jpg" %}" alt="" data-jslghtbx="{% static "img/gallery/8.jpg" %}"></a></figure>
		</li><!--
		--><li class="single">
			<figure><a href=""><img src="{% static "img/gallery/mini/6.jpg" %}" alt="" data-jslghtbx="{% static "img/gallery/6.jpg" %}"></a></figure>
		</li>
	</ul>
</section>
{% endblock %}

{% block closescripts %}
	<script src="{% static "js/jsOnlyLightbox/js/lightbox.min.js" %}" type="text/javascript"></script>
	<script>
		var lightbox = new Lightbox();
		lightbox.load();
	</script>
{% endblock %}