{% extends 'base.html' %}

{% block content %}
	<div class="gallery">
		<div class="img-gallery">
			<img src="" alt="">
		</div>
		<div class="img-list">
			<ul>
				<li><img src="" alt=""></li>
				<li><img src="" alt=""></li>
				<li><img src="" alt=""></li>
				<li><img src="" alt=""></li>
				<li><img src="" alt=""></li>
				<li><img src="" alt=""></li>
				<li><img src="" alt=""></li>
				<li><img src="" alt=""></li>
				<li><img src="" alt=""></li>
				<li><img src="" alt=""></li>
			</ul>
		</div>
	</div>
{% endblock %}