{% extends 'base.html' %}

{% block content %}
	<h2>PPG</h2>
	<h3>Método de Reequilibrio y Reeducación Postural</h3>
	<ul>
		<li>
			Las clases se realizan sobre el reformer, (se pueden realizar trabajos en piso o pared si el espacio físico lo permite)
		</li>
		<li>
			Se puede utilizar el método como una especialización y aplicarlo en clases convencionales de pilates donde haya alumnos con dicha necesidad.
		</li>
		<li>
			Se trasladan al reformer, entre otros, los ejercicios provenientes de métodos SOUCHARD.
		</li>
	</ul>
	<h3>OBJETIVOS</h3>
	<ul>
		<li>
			Aumentar la movilidad articular.
		</li>
		<li>
			Devolver al cuerpo su funcionalidad y eficacia a través del tratamiento de las Cadenas Musculares Tónicas (Posturales) y Fasciales.
		</li>
		<li>
			Flexibilizar los musculos estáticos,fortaleciendo los musculos dinámicos.
		</li>
		<li>
			Desbloquear articulaciones con retracciones musculares.
		</li>
		<li>
			Trabajar teniendo en cuenta las compensaciones musculares.
		</li>
		<li>
			Participar en la corrección de alteraciones posturales (hiperlordosis, hipercifosis, rectificaciones o inversiones de las curvaturas fisiológicas, valgus o varo de rodillas, recurvatum de rodillas, pies cavos, pies planos, etc.)
		</li>
		<li>
			Disminuir dolores crónicos, contracturas, evitar alteraciones futuras.
		</li>
	</ul>
{% endblock %}